	label{
		text-align: right;
	}
	.bdr{border: 1px solid black;}
	.inline{display: inline}
	.card{
		border: none;
		border-radius: 0;
	}
	table{
		padding: 1rem;
		background-color: #98AFC7;
		color: black;
	}
	body{
		background-color: #98AFC7;
		color; black;
		height: 100%;
	}
