<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2 p-2 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" style="margin-right: 100px" href="#">Courtllistener API Documentation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="help.html">Help</a>
        </li>
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Documentation Pages
          </a>
          <ul class="dropdown-menu">
			              <li><a class="dropdown-item" href="aba-ratings.html">aba-ratings</a></li>
              <li><a class="dropdown-item" href="agreements.html">agreements</a></li>
              <li><a class="dropdown-item" href="audio.html">audio</a></li>
              <li><a class="dropdown-item" href="clusters.html">clusters</a></li>
              <li><a class="dropdown-item" href="courts.html">courts</a></li>
              <li><a class="dropdown-item" href="debts.html">debts</a></li>
              <li><a class="dropdown-item" href="disclosure-positions.html">disclosure-positions</a></li>
              <li><a class="dropdown-item" href="disclosure-typeahead.html">disclosure-typeahead</a></li>
              <li><a class="dropdown-item" href="dockets.html">dockets</a></li>
              <li><a class="dropdown-item" href="educations.html">educations</a></li>
              <li><a class="dropdown-item" href="financial-disclosures.html">financial-disclosures</a></li>
              <li><a class="dropdown-item" href="fjc-integrated-database.html">fjc-integrated-database</a></li>
              <li><a class="dropdown-item" href="gifts.html">gifts</a></li>
              <li><a class="dropdown-item" href="investments.html">investments</a></li>
              <li><a class="dropdown-item" href="non-investment-incomes.html">non-investment-incomes</a></li>
              <li><a class="dropdown-item" href="opinions-cited.html">opinions-cited</a></li>
              <li><a class="dropdown-item" href="opinions.html">opinions</a></li>
              <li><a class="dropdown-item" href="originating-court-information.html">originating-court-information</a></li>
              <li><a class="dropdown-item" href="people.html">people</a></li>
              <li><a class="dropdown-item" href="political-affiliations.html">political-affiliations</a></li>
              <li><a class="dropdown-item" href="positions.html">positions</a></li>
              <li><a class="dropdown-item" href="recap-fetch.html">recap-fetch</a></li>
              <li><a class="dropdown-item" href="reimbursements.html">reimbursements</a></li>
              <li><a class="dropdown-item" href="retention-events.html">retention-events</a></li>
              <li><a class="dropdown-item" href="schools.html">schools</a></li>
              <li><a class="dropdown-item" href="search.html">search</a></li>
              <li><a class="dropdown-item" href="sources.html">sources</a></li>
              <li><a class="dropdown-item" href="spouse-incomes.html">spouse-incomes</a></li>
              <li><a class="dropdown-item" href="tags.html">tags</a></li>

          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input id="searchvalue" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="button" onclick="search()">Search</button>
      </form>
    </div>
  </div>
</nav>